/* Reset default browser padding and margin */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Make the html, body, and root div take full screen size */
html, body, #root {
  height: 100%;
  width: 100%;
}


